<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Auto Grader</a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav">

                <li routerLinkActive="active" *ngIf="isAuthenticated && isAdmin"><a href="#" routerLink="/admin">Admin</a></li>
                <li routerLinkActive="active" *ngIf="isAuthenticated && isLecturer"><a href="#" routerLink="/lecturer">Lecturer</a></li>
                <li routerLinkActive="active" *ngIf="isAuthenticated && isStudent"><a href="#" routerLink="/student">Student</a></li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated"><a href="#" routerLink="/auth">Authenticate</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated">
                  <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
