<div class="row">
  <div class="col-md-12">
    <h2>Role: {{role?.name}}</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>ID</td>
        <td>{{role?.id}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{role?.name}}</td>
      </tr>
      <tr>
        <td>Permissions</td>
        <td>
          <ul class="list-unstyled mb-0">
            <li *ngFor="let permission of role?.permissions">
              {{permission.name}}
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-secondary" (click)="onBack()">Back</button>
  </div>
</div>

