<div class="row">
  <div class="col-md-12">
    <h2>Students</h2>
    <a class="btn btn-primary" href="#" routerLink="/admin/student/new">Create Student</a>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students; let i = index">
        <td>{{student.id}} </td>
        <td><a class="btn-link">{{student.username}}</a></td>
      </tr>
      </tbody>
    </table>
    <mat-paginator [length]="100"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="getServerData($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>
