<div class="row">
  <div class="col-md-6">
    <h2>Problem #{{problem.id}}: {{problem.title}} </h2>
    <a class="btn btn-dark" href="#" routerLink="/student/problem/{{this.problemId}}/submission">Submissions</a>
    <div [innerHTML]="problem.description"></div>
  </div>
  <div class="col-md-6">
    <h2>Submit your code</h2>
    <form [formGroup]="submissionForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="language">Language</label>
            <select id="language"
                    class="form-control"
                    formControlName="language"
                    (ngModelChange)="valueChange($event)"
            >
              <option *ngFor="let runtime of runtimes; let i = index" value="{{i}}">
                {{runtime.language}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="version">Version</label>
            <input
              type="text"
              id="version"
              class="form-control"
              formControlName="version"
            >
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="filename">Filename</label>
            <input
              type="text"
              id="filename"
              class="form-control"
              formControlName="filename"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="code">Code</label>
            <div style="height: 500px">
              <ngx-monaco-editor id="code"
                                 [options]="{language: this.editorOptions.language, theme: this.editorOptions.theme}"
                                 formControlName="code" style="height: 100%"></ngx-monaco-editor>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success" [disabled]="!submissionForm.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
