<div class="row">
  <div class="col-md-6">
    <h2>Problem #{{problem.id}}: {{problem.title}} </h2>
    <a class="btn btn-default" href="#" routerLink="/student/problem/{{this.problemId}}/submission">Submissions</a>
    <pre>
      {{problem.description}}
    </pre>
  </div>
  <div class="col-md-6">
    <h2>Submit your code</h2>
    <form [formGroup]="submissionForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="language">Language</label>
            <input
              type="text"
              id="language"
              class="form-control"
              formControlName="language"
            >
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="version">Version</label>
            <input
              type="text"
              id="version"
              class="form-control"
              formControlName="version"
            >
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="filename">Filename</label>
            <input
              type="text"
              id="filename"
              class="form-control"
              formControlName="filename"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="code">Code</label>
            <textarea
              type="textarea"
              id="code"
              class="form-control"
              formControlName="code"
              rows="25"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!submissionForm.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
