<div class="row">
  <div class="col-md-12">
    <h2>Test Cases</h2>
    <a class="btn btn-primary" href="#" routerLink="/lecturer/problem/{{problemId}}/test-case/new">Add a test case</a>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>ProblemId</th>
        <th>Input</th>
        <th>ExceptedOutput</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let testCase of testCases; let i = index">
        <td>{{testCase.id}} </td>
        <td>{{testCase.problemId}} </td>
        <td>{{testCase.input}} </td>
        <td>{{testCase.expectedOutput}} </td>
      </tr>
      </tbody>
    </table>
    <mat-paginator [length]="100"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="getServerData($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>
<router-outlet></router-outlet>
