<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>What is code autograding?</h2>
      <p>Autograders are a tool that allows teachers to automatically assess and/or provide feedback to students on
        their code. They can be configured to provide extensive and immediate feedback, which can then promote quick and
        efficient student learning. Autograders are widely used in computer science and engineering programs as well as
        statistics and data science programs although they can also be utilized for non-computer science subject matter.

        Using an autograder saves time grading, particularly for large enrollment classes, and ideally provides students
        with feedback in real time within their existing workflows so they can prepare for their next steps in the
        learning journey. </p>
      <a
        href="https://www.turnitin.com/blog/how-to-transform-autograding-into-smarter-grading"
        target="_blank"
      >Source</a>
    </div>
  </div>
</div>
